*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header{
    font-size: 11px;
    background-color: whitesmoke;
}

.hcontainer{
    height: 3rem;
    width: 1320px;
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    margin-inline: auto; 
    font-size: 11px;
}

.hcontainer1{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.hcontainer2{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.list{
    display:flex;
    flex-direction: row;
}

/* BODY */

/* Section - Jumbo */

.JUMBO{
    background-color: rgb(165, 217, 240);
}

.container{
    max-width: 880px;
    max-height: 510px;
    /* background-color: aqua;  */
    margin: auto;
    padding-left: 30px;   
}

.title-jumbo{
    font-size: 51px;
    font-weight: 900;
    padding-top: 3rem;

    
}

.jumbo{
    display: flex;
    flex-direction: row-reverse;
    font-size: 12px;
    padding-top: 1.5rem;
}

p{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}


/* Section - Fatturazione */

.title-container{
    max-width: 720px;
    max-height: 440px;
    /* background-color: green;  */
    margin: auto;
    padding-inline: 15px; 
    margin-top: 5rem;  
}

h2{
    padding-top: 2.5rem;
    font-size: 25px;
    font-weight: 700;
}

.input{
    margin-top: 2.5rem;
    font-size: 11px;
    display: flex;
    flex-direction: row;
}

/* Container - Sezioni */

.sezioni{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

/* Sezione - Professional - Advanced - Enterprise */

.container-section{
    min-width: 220px;
    min-height: 580px;
    /* background-color: aqua;  */
    padding-inline: 15px; 
    margin-top: 2rem;  
}

.list2{
    padding-left: 1rem;
    padding-right: 1.1rem;
    padding-top: 0.5rem;
    padding-bottom: 1.3rem;
    font-size: 10px;
}

h3{
    font-size: 15px;
    padding-top: 0.5rem
}

.price{
    font-weight: 700;
    font-size: 9px;
}

.mese{
    color: gray;
    font-size: 10px;
}

.section-professional{
    /* background-color: aqua; */
    max-width: 210px;
    min-height: 560px;
    font-size: 11px;
    border: 1px solid grey;
    border-top: 0;
}

h4{
    font-size: 10px;
    font-weight: 700;
}

/* Section - Team-Enterprise */

.team-container{
    max-width: 690px;
    max-height: 440px;
    /* background-color: green;  */
    margin: auto;
    margin-top: 2rem;
   
 
}

.sub-team-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey; 
}

.input2{
    font-size: 11px;
    display: flex;
    flex-direction: row;
}

.button3{
    margin-top: 1.3rem;
}

/* Sezione - Extra */

.extra{
    max-width: 690px;
    max-height: 240px;
    /* background-color: green;  */
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    font-size: 10.5px;
}

.sub-extra{
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 3.9rem;
    
}

.partner{
    font-size:12px;
    width: 110px;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: 1px solid grey;
}

/* Sezione - Operazioni Dropbox Business */


.container-op-dropbox{
    margin: auto;
    max-width: 690px;
    max-height: 740px;
    /* background-color: aquamarine; */
    margin-top: 9rem;
}

.sub-container-op-dropbox{
    display: flex;
    flex-direction: column;
    font-size: 10.2px;
    padding-inline: 1rem;
}

.line-dropbox{
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
}

.title-line{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.line{
    display: flex;
    flex-direction: row;
}

.drop{
    max-width: 190px;
    max-height: 150px;
    margin-bottom: 0.5rem;
}

.title-business{
    font-size: 16px;   
}

/* <!-- Sezione - Pubblicità --> */

.list3{
    margin: auto;
    max-width: 625px;
    max-height: 740px;
    /* background-color: aquamarine; */
    margin-top: 3rem;
    padding-right: 11rem;
    
}

.li-list3{
    margin-bottom: 2rem;
}


.link2{
    font-size: 11px;
    color: blue;
}


/* <!-- Sezione - Sponsor --> */